/build/
/dist/
/.private/

.env
.env.*
local.properties

mirror-to-tv.config.json
client-config.json

*.apk
*.ap_
*.dex
*.idsig
*.jks
*.keystore
*.p12
*.key
*.pem
*.zip
*.log

.DS_Store
Thumbs.db
desktop.ini
